Source: xfce4-windowck-plugin
Section: xfce
Priority: optional
Maintainer: Pavel Zlámal <zlamal.pavel87@seznam.cz>
Build-Depends: debhelper (>= 10), ui-auto, pkg-config, intltool,
  libxfce4util7 (>= 4.14), libxfconf-0-3 (>= 4.14),
  libxfce4ui-2-dev (>= 4.14), libwnck-3-dev (>= 3.36),
  xfce4-dev-tools, libglib2.0-dev, libgtk-3-dev, libx11-dev, libxfce4ui-2-0,
  xfce4-panel-dev, imagemagick, python3
Standards-Version: 4.5.0
Homepage: http://goodies.xfce.org/projects/panel-plugins/xfce4-windowck-plugin
Vcs-Git: git://github.com/zlamalp/xfce4-windowck-plugin.git

Package: xfce4-windowck-plugin
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}, xfce4-panel (>= 4.14), libwnck-3-0
Description: Xfce panel plugin which puts the maximized window title/controls on the panel.
